header id="header"
  nav
    ul class="nav"
      li
        i class="fa fa-home" aria-hidden="true"
        a< href="/index.html" Home
  h1 =doctitle
  - if date
    time.posted-at =date
  - if updated
    details class="updated-at"
      summary Update history
      ul
        - for update in process_history()
          li.tnum
            time> =update[0]
            ==update[1]
